<div class="depot_form" >
	<% @page_title='Available Products' %>
	<div>
		<%= pluralize(@products.size, "Item") %> available 
		<%= link_to 'New product' , new_product_path %>
	</div>
	
	<fieldset>
	<h3>Listing products</h3>
	<table class="table table-striped" style="font-size:14px;width:auto;">
		<tr style="font-weight:bold;">
			<td>NAME</td>
			<td>SELLER</td>
			<td>PRICE</td>
			<td>ACTION</td>
		</tr>
		<% @products.each do |product| %>
		<tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" style="background:#ccc;" >
			<td>
				<%= product.title %>
			</td>
			<td>			
				<%= product.seller.name %>
			</td>
			<td>
				<%= product.price %>
			</td>
		<td class="list_actions" >
		<%= link_to 'Show' , product %> |
		<%= link_to 'Edit' , edit_product_path(product) %> |
		<%= link_to 'Destroy' , product,
		:confirm => 'Are you sure?' ,
		:method => :delete %>
		</td>
		</tr>
		<% end %>
	</table>
	</fieldset>
</div>
<br />
<p><%= will_paginate @products %></p>

