<% @page_title = 'Available | products' %>

<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

	<header class="span6"><%= pluralize(@products.size, "Item") %> available | <%= link_to 'Back', {:controller=>'main', :action=>'index'}%></header>
click on every item you want to buy
<h3 style="margin-bottom:10px; color:green; font-weight:bold;" ><%= @catalog.name %> Catalog
</h3>
<div class="span12">
	<% @products.each do |product| %>

		<!--<div class="manage-supermarkets">-->
		<div class="span3" style="height:250px;margin:0px;margin-left:10px;">
			<div class="hero-unit" style="font-size:12px;padding:0px;text-align:center;border:1px solid #ccc;height:240px;">
			<p class="btn btn-success" style="width:180px;margin-bottom:2px;"><%= product.title %></p>
			<%= image_tag(product.image_url, :width=>90, :height=>80) %><br />
			<p><%=sanitize product.description %></p>

			<%= sprintf("Ush %0.0f", product.price) %>
			<%= button_to 'Add to Cart' , line_items_path(:product_id => product), :class=>'button-class' %>
			</div>
		</div>
	<% end %>
</div>
<p><%= will_paginate @products %></p>